<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Yet another framework</title>
    <meta name="description" content="Yet another framework">
    <meta name="author" content="Leonardo Pereira">
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>

<body>
    <h1>Yet another framework</h1>

    <ul>
        <div>
            <%= helloWorld %>
        </div>
    </ul>
</body>

</html>